.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.header {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  gap: 2.5%;
}

.header-center {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.resources {
  display: flex;
  justify-content: space-between;
}

.resource {
  display: flex;
  width: 192px;
}

.resource-icon {
  font-size: 40px;
}

.resource-progress-bar {
  display: flex;
  flex-grow: 1;
  height: 33%;
  margin: auto 15px;
  align-self: center;
}

.progress-bar {
  display: flex;
  flex-grow: 1;
}

.progress-bar-value {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}

.time {
  display: flex;
  height: 64px;
  border-radius: 0;
  border-bottom-left-radius: 80px;
  padding-left: 80px;

  justify-content: end;
  align-items: center;
}

.time span {
  font-size: 20px;
  margin-right: 0.5em;
}

.spacer {
  flex-grow: 1;
}

.slider {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.slider-arrows {
  display: flex;
  gap: 36px;
  margin: 0 auto;
}

.slider-arrows button {
  background: none;
  font-size: 32px;
  color: var(--space-white);

  border: none;
}

.left-sidebar {
  position: absolute;
  left: 0;
}

.footer {
  width: 65%;
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  gap: 1em;

  left: 0;
  right: 0;
  bottom: 1em;

  font-size: 40px;
}

.population {
  font-weight: 500;
  font-size: 2em;
  text-align: center;
}

.delivery-menu {
  display: flex;
  flex-direction: column;
  width: 20vw;

  margin: auto 0;

  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}

.delivery-item {
  display: flex;
}
