@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Poppins";
  background-color: #2d2a2a;
  color: var(--space-white);

  --space-white: #e5e9ec;
  --positive: #008148;
  --mars: #cc512f;
  --neutral: #e0db2c;
  --negative: #c41717;

  overflow: hidden;
}

.container {
  border: 1px solid var(--space-white);
  border-radius: 8px;
}

.positive-fill {
  background-color: var(--positive);
}
.neutral-fill {
  background-color: var(--neutral);
}
.negative-fill {
  background-color: var(--negative);
}
