:root {
  font-family: Poppins;
  background-color: #2D2A2A;

  --space-white: #E5E9EC;
  --positive: #008148;
  --mars: #CC512F;
  --neutral: #E0DB2C;
  --negative: #C41717;
}

.container {
  border: 1px solid var(--space-white);
  border-radius: 8px;
}

.positive-fill {
  background-color: var(--positive);
}
.neutral-fill {
  background-color: var(--neutral);
}
.negative-fill {
  background-color: var(--negative);
}